[2021-01-23 18:36] ionl commented on #498
With GHex (archlinux) it's ok. I have my contact list. Thank you @nekromoff

[2021-01-23 18:51] targetbsp commented on #498
@alexolog sorry i was unable to contact you.  That address does not accept email from virtual hosted mail servers (which mine is) since they insist on doing a reverse DNS lookup

[2021-01-23 18:59] alexolog commented on #498
@targetbsp this is getting interesting.  Try disposable1@mailbolt.com
(deleted my previous off-topic messages, and will delete this one as well later)

[2021-01-23 21:31] peliculiar commented on #498
@nekromoff Awesome, this works for me. (y)

[2021-01-23 22:37] rastapopougros commented on #498
it works for me too, on ubuntu :)

[2021-01-23 22:43] jkufner commented on #498
Vim also works ;) — Thanks, @nekromoff.

If any of you wonder what the change does, it just bumps some version string, so it should be quite a safe change.

[2021-01-24 14:51] pseudomonas commented on #498
Works for me too. Thanks, @nekromoff.
Note that the file you need to edit might be `/home/YOURUSERNAME/.purple/plugins/libfacebook.so` and that the searching needs to be done in "char" mode in okteta.

Can we expect a new release with this fix at some point?

[2021-01-25 08:12] DnR-iData commented on #498
Worked on ubuntu 20.04, Edited with VIM.

Thank u @nekromoff

[2021-01-25 12:58] konradpaluszek commented on #498
What to do to pop up notifications when someone texting me or becomes active?

[2021-01-25 18:10] mvandemar commented on #496
Getting this on CentOS 7, Pidgin 2.10.11-9.el7 (libpurple 2.10.11). As near as I can tell, it's only happening when someone messages me from the Faceboook web interface, not if they are using the app.

[2021-01-26 09:10] sanyooh commented on #498
on Linux, needed to change the permission of the `libfacebook.so` file to make it writable with: ` sudo chmod a+w libfacebook.so
`

[2021-01-26 12:46] pseudomonas commented on #498
@sanyooh I'd recommend changing it back after you're done editing.
In general, If you want files to be user-writable then put them in ~/.purple/plugins/ ; otherwise edit them as root.

[2021-01-27 01:32] ThomasLeigh commented on #498
Could anyone help with the editing under Windows? I’ve tried HxD (https://mh-nexus.de/en/hxd/) with various search types, to no avail :( (the app can’t find the string 192.0.0.31.101).

[2021-01-27 07:26] targetbsp commented on #498
That suggest you don't have the latest version of the plugin.  In which case the string will differ.  Download the latest version of the plugin first. https://dequis.org/libfacebook.dll

[2021-01-27 11:35] Hark02 commented on #500
(12:31:13) jabber: Sending (ssl) (xxx/73747FDF): <iq type='get' id='purple7d716a2b'><ping xmlns='urn:xmpp:ping'/></iq>
(12:31:13) jabber: Recv (ssl)(70): <iq to="xxx/73747FDF" id="purple7d716a2b" type="result"/>
(12:31:17) http: Request 045953B0 performed without success.
(12:31:17) connection: Connection error on 04FC82A0 (reason: 0 description: An unknown error occurred)
(12:31:17) account: Disc

[2021-01-27 11:36] Hark02 commented on #500
Facebook disconnects regularly.

[2021-01-27 16:34] ThomasLeigh commented on #498
@targetbsp **Thank You so so much**, it works! I’ve thought that I used the newest version (from https://github.com/dequis/purple-facebook/wiki/Installing-on-Windows ) , it seems I was wrong. Could You tell what that hex-change into the plugin stand for?

[2021-01-27 17:03] targetbsp commented on #498
My understanding is we're increasing the version of the facebook client we are claiming to be (or claiming to be emulating, or claiming to be compatible with, or something like that anyway) since the older version is no longer supported by facebook.

[2021-01-27 20:30] ThomasLeigh commented on #498
@targetbsp Do You know what does the change mean (192.0.0.31.101 into 537.0.0.31.101) in a non-technical way?

[2021-01-27 21:25] targetbsp commented on #498
192.0.0.31.101 is a version number
537.0.0.31.101 is a newer version number

So it's like Pidgin is saying 'I'm compatible with facebook messenger version 192'.  And facebook is saying 'we don't support that version anymore - it's too old'.  So now Pidgin is saying 'I'm compatible with version 537'.  And facebook is going 'alright then'.

[2021-01-27 21:47] ThomasLeigh commented on #498
@targetbsp Oh, thank You very much, I’ve thought that maybe it has something to do with IP addresses! :) I missed that it has too many numbers, probably I confused it with port numbers added at the end. **Thank You!**

[2021-01-27 22:27] targetbsp commented on #498
Yeah the 192 is a weird co-incidence there that would probably cause anyone seeing it at a glance to think the same.  Since local IP's begin with that so it's the IP range people will be most familiar with.

[2021-01-28 12:57] Halfart commented on #498
I edited file libfacebook.so at /usr/lib/purple-2/ as mentioned above. But the Facebook protocol option from the dropdown menu disappeared.
![image](https://user-images.githubusercontent.com/11629184/106141666-b96b9900-6170-11eb-8d74-af972c8e9c44.png)

[2021-01-28 13:01] targetbsp commented on #498
You used a hex editor right?  A text editor would destroy the file on save.

[2021-01-28 13:08] Halfart commented on #498
Thank you! I used VSCode. At now with Okteta it works.

[2021-01-29 01:37] 11355 opened #505 "Auto followers"
I can't log in in autofollowers

[2021-01-29 08:56] dequis commented on #505
you what

[2021-01-30 09:05] polkipop commented on #500
I've had problems with this plugin for a while, it refuses to log me in: "ERROR_QUEUE_UNDERFLOW"
It doesn't matter which computer I use, nor the network I'm on (I have tried more than ten, no firewalls blocking me). It just refuses to let me in.
It simply won't work.

[2021-01-30 10:28] adamczi commented on #498
Just as @wsfsbvchr I'm getting "Unknown HTTP error" after applying this 192->537 fix. Running Pidgin 2.14.1 (libpurple 2.14.1) on Linux Manjaro 20.2.1. Pidgin connects for a short while (a couple of seconds), then I get disconnected. So I manually click "Reconnect" and the issue repeats. _But_ when I send a message during that short "connected" period, the messages are delivered properly.

[2021-01-30 16:14] Nume1977 commented on #500
Same here!

`(16:11:29) connection: Connection error on 075557F0 (reason: 0 description: ERROR_QUEUE_UNDERFLOW)`

[2021-01-30 19:27] e3rd commented on #498
I confirm the same as @wsfsbvchr . The fix worked for me till today, now it ends up with "Unknown HTTP error"

[2021-01-30 22:55] jaymzh opened #507 "Sending a message should mark a thread as "read""
Sending messages doesn't mark a thread as "read." This has the side-effect that on any disconnect, a ton of messages are all re-sent.

The "show all unread messages on connect" feature is *awesome*, but for it to function properly, we have to mark the thread as read when we send one. :)

[2021-02-01 08:56] #496 closed

[2021-02-01 08:58] dequis commented on #496
Merged that, but can't release yet. Builds are broken right now.

[2021-02-01 08:59] jaymzh commented on #496
@dequis eh? I was able to build `master`...

[2021-02-01 09:08] dequis commented on #496
I mean CI builds. OBS fails with authentication stuff (this is more obvious in bitlbee-facebook where the dependencies are fixed), and win32 uploads are broken too I think. Both things that need me specifically to have a look at the problem and, welp.

Building it yourself works, yeah.

[2021-02-01 09:11] dequis commented on #500
Uhh, you're all mixing things here and the original issue was just a network-related timeout. There's another ticket for ERROR_QUEUE_UNDERFLOW, go there.

[2021-02-01 09:11] #500 closed

[2021-02-01 09:12] #505 closed

[2021-02-01 23:25] vimino commented on #498
The 192/537 fix worked for me on _Manjaro Linux_ (20.2.1) with _purple-facebook_ 0.9.6-2.

[2021-02-02 20:07] gradius-v commented on #489
Would you be willing to publish a Windows dll with the changes ? I'd rather have a few crashes than an unusable program.

[2021-02-03 01:19] ohhai commented on #489
Sorry, I have Linux environment only. Anyway it would be better to distribute source code changes because of security point at least.
I think I'll take another look at that crashes and in the meantime adding error print about error 509 seems reasonable, as for me. With no negative effects it makes possible detection of failed picture transfers, so we don't miss that moments at least.

[2021-02-04 21:34] gradius-v commented on #489
The maintainer doesn't seem interested in this project anymore so I guess this will never be fixed ?

[2021-02-04 22:50] ohhai commented on #489
Someone's patch might get a merge, as far as I understand.

[2021-02-05 22:47] mvandemar commented on #496
Just happened with someone messaging me from mobile Safari while I had Facebook open in Chrome.

[2021-02-06 13:41] allanlaal commented on #492
issue is not present when I built the tip of master

[2021-02-06 13:47] allanlaal commented on #392
the recent Facebook webMessenger "upgrade" made it unbearably slow (switching between chats took >15sec), so I started using purple-facebook :)

the first thing that caught my eye is that all chat logs are empty

[2021-02-10 18:58] salmaricc opened #508 "Invisible status not working"
Hi!

The "invisible" status doesn't work anymore. Last time when it has been working is two days ago.

When setting status to "invisible" the friend/buddy list doesn't update anymore and nothing works.

Before it worked like it should. You could appear offline and have pidgin running and updating buddy pounces etc.

Now just "available" and "offline" works.

Any thoughts?

[2021-02-10 22:53] Kamilcuk commented on #498
Stilll present `0.9.6-2` in archlinux, the `sudo sed -i -e 's/192\.0\.0\.31\.101/537\.0\.0\.31\.101/' /usr/lib/purple-2/libfacebook.so` fixed it for me.
Could the version be bumped up with a new release so that package distributors could repackage?

[2021-02-17 10:14] petermolnar commented on #492
This one is back for me, but I have the wip-work-chat branch merged to master.

[2021-02-19 21:10] allanlaal commented on #460
no longer an issue/testable in EU
since Facebooks 2020-12 "update" no previews are generated for any links anymore (in the EU atleast)

[2021-02-19 21:15] allanlaal commented on #467
bug present in master tip of ≤2021-02-06

seems to happen when there are network issues. both sending and receiving the same messages again double, triple, or more. sometimes not delivering a sent message at all

[2021-02-19 21:24] allanlaal commented on #487
I worked around this by adding a new group in Pidgin and adding my frequent friends there.

I searched for a friend on Messengers mobile app (since webMessengers search is unusable) and said sth to them. That raised them to the top of the default "Facebook Friends" group (ordered by activity) and there I just dragged them over to my new group

[2021-02-20 02:28] allanlaal commented on #489
@ohhai could you commit these changes to your own fork, so we can compile from there? :)

I'm this close to dumping using FB Messenger on desktop (the "updated" web client is unusable since december)

[2021-02-20 02:40] allanlaal opened #510 "FIX Group Chats dont show names after Facebooks Messenger+Instagram refactor"
Group Chats only show their numeric ID's as tab titles
they also do not show up in Search by name
they are also not shown anywhere in Buddy List

[2021-02-20 02:44] allanlaal opened #511 "ADD support for message reactions"
message reactions have been a thing in FB Messenger a long time now and offer context

even a fake message would be helpful:

    John Smith reacted with 💗 to: My message that was awesome

[2021-02-20 07:21] shindere commented on #487
Thanks. I'm a bitlbee user so I fear this won't apply.

[2021-02-20 12:03] Malvineous commented on #489
If you're desperate and willing to compile it yourself, my dodgy fix has been working well.  No crashes or anything, Pidgin just freezes for two seconds every time someone sends a picture which is only mildly annoying.  I edited `pidgin/libpurple/protocols/facebook/api.c` and in the function `fb_api_attach()` I added this `sleep()` call near the top:
[code]
It's obviously not a proper fix but it r

[2021-02-20 16:39] ohhai commented on #489
Supporting the previously mentioned fix. I have items `#1` and `#2` working (from here: https://github.com/dequis/purple-facebook/issues/489#issuecomment-758232570), but not the main fix for now. Have one idea why crashes may happen, message delivery might use signals (like `man 7 signal` in Linux), so absence of custom handlers on my new spawned threads may lead to crash. Need to test, but even i

[2021-02-21 18:57] jojoharry16 commented on #498
Noob with hex editing here, how do I find FBAV in the hex file? I'm guessing the rest should be straightforward but this part has me stumped, especially since V isn't a hex value

[2021-02-21 19:47] targetbsp commented on #498
A hex editor will show you the ascii (where it can be represented) alongside the hex.  And you want to search the ascii.  The reason to use a hex editor is because it can save the bits it can't show in ascii back unchanged and so not break the file - unlike a text editor.  You're not expected to actually modify the hex values.

[2021-02-21 21:37] jojoharry16 commented on #498
IT WORKED!! OH MY GOD I EDITED HEX FOR THE FIRST TIME SUCCESSFULLY.
Thank you targetbsp :)

[2021-02-27 01:45] akhepcat commented on #496
i see that this still isn't in code, but that there is a patch in the 'patches' directory for it.

Since i've been getting this error more often, i'm gonna give it a spin...

[2021-02-27 06:28] jaymzh commented on #496
@akhepcat that's how this project is built, actually. run `./update.sh` and that will grab the remote sources and patch them. then you can `./configure; make; sudo make install`

[2021-02-27 06:42] akhepcat commented on #496
well, heck, i completely missed the 'update.sh'  bit - it's not in the readme, and i've just been manually doing the git pull, configure; make   et al  thread without the patches all this time..

[2021-02-27 09:55] dbadura commented on #475
I encountered the same issue

[2021-03-01 08:12] gradius-v commented on #489
I've thrown in the towel and use the shitty website now. As I have no idea how to compile this stuff for Windows and most of the links and instructions on the pidgin website don't work, I've given up. So thanks for all the work and goodbye.

[2021-03-01 15:19] alexolog commented on #489
Have you tried Miranda?

[2021-03-20 12:37] grimmy commented on #474
So after some digging, I ended up creating a new application on developers.facebook.com, plopped the app id/secret into the source code, built installed, attempt to connect and got this better (?) error message...

So it looks like they're just blocking on the old client id, but to move to something new we have to stop using the rest API and presumably move to the graphql api? I'm just speculating

[2021-03-20 14:27] alexolog commented on #474
I asked on the Miranda-NG forum, as they seem to be unaffected.
The answer was that they use the MQTT protocol.

[2021-03-21 23:22] grimmy commented on #474
Yeah I've started digging through their code but it's going to take some time to grok what they're doing differently.. They still have the login code that we use, but it's not in use and I haven't found the current login yet.

[2021-03-22 07:38] truenicoco commented on #474
@grimmy I may be wrong but I wouldn't say it is 100% login-related, since every once in a while when I try, I am able to login, send and receive messages for a (short) while before triggering this 405 error.

[2021-03-22 10:25] grimmy commented on #474
Yeah I think that's the only time the rest api is used. So once that's replaced we _might_ be good.

[2021-03-31 19:42] Tri125 opened #512 "Requesting a new release"
Hello, is it possible to make a new release with the latest change?

I was hoping to benefit from the fixes concerning the thrift API which was fixed last year (https://github.com/dequis/purple-facebook/pull/480).

Thank you for your consideration.

[2021-04-02 11:43] ChristianGalla commented on #498
I have applied the fix to the newest available dll file.
If someone don't want to do this manually, the attached file can be used.

[libfacebook.zip](https://github.com/dequis/purple-facebook/files/6249313/libfacebook.zip)

[2021-04-08 06:56] grimmy commented on #474
So is anyone here currently compiling the plugin themselves? I may have a fix, but I want to get a few more people to test it before opening a pr that might not do it...

[2021-04-08 07:00] grimmy commented on #474
well I can't reproduce this at all right now, so :shrug:

[2021-04-09 00:17] alexolog commented on #474
No, I am on Windows and depend on the goodwill of others to provide DLLs

[2021-04-10 05:32] grimmy commented on #474
@alexolog But if you try to connect now, do you still get the 405 error.  Like I said, the issue went away for me with no code changes.

[2021-04-10 17:20] dlif-v commented on #494
I got this error earlier this week on Windows and I noticed the travis build is currently failing as of 2 months ago https://travis-ci.org/github/dequis/purple-facebook

Is there a workaround? I've tried updating to the latest dll but it didn't help

[2021-04-14 09:53] martinambrus commented on #512
I actually started to experience the same error fixed in the Thrift API myself now and it's very consistent - can't even log into FB anymore. Agree with the new release request.

[2021-04-25 05:46] Breizyann opened #513 "Connection issue"
Hello,

I am having this issue since about 2 or 3 weeks:

I am having it on windows 10 os  as well as on ubuntu os (20.04).
Yesterday i did a recompilation of the module but the issue still remain.

Did someone else got this issue too ?

Any help would be appreciated.

Kind regards,
Yann

[2021-04-30 11:22] solbu opened #514 "Parse error: unexpected identifier `taNewMessage', expected value"
The last day I have been unable to chat on Facebook.
It connects just fine, the contact list populates fine, but whenever I receive a message on Facebook, it instantly disconnect, waits a few seconds and then reconnects.
But I don't receive any messages.

I am not prepared to _publicly_ disclose the entire debug log, due to sensitive content in the log,
but here is the debug excerpt.
This 4 lines

[2021-04-30 12:17] Mavoy commented on #514
I'm getting "Parse error: unexpected identifier `taNewMessage', expected value #514" as well, which disconnects the plugin and I have to reconnect it manually. Unfortunately it makes the conversations impossible in the long process.

[2021-04-30 22:09] elfrocampeador commented on #514
I'm having the same problem

[2021-05-01 18:36] meikasahara commented on #514
I had the same issue. However, compiling from the latest master commit and installing it seems to have fixed the issue for now.

[2021-05-01 19:33] salmaricc commented on #514
Could someone post latest master compiled here?

[2021-05-01 19:50] solbu commented on #514
@dequis need to create a new release, then.

[2021-05-01 22:28] alexolog commented on #514
Maybe @EionRobb can post a Windows DLL?

[2021-05-02 03:00] solbu commented on #512
I agree too. Most distros only update releases, and don't follow any of the commits.

In the mean time I have fixed the Mageia package (for mga7, mga8 and cauldron) by lifting and applying patches 18 and 19 from the patches folder.
Our Q&A will test it and approve them withing a few days, and then updated packages should reach the mirrors shortly after that.

[2021-05-02 03:06] solbu commented on #514
In the mean time I have fixed the Mageia package (for mga7, mga8 and cauldron) by lifting and applying patches 18 and 19 from the patches folder.
I just assigned the fixed packages to our Q&A team which will test it and hopefully approve them withing a few days, and then updated packages should reach the mirrors shortly after that.

[2021-05-02 19:00] BrenBarn commented on #496
What's the story with this?  From the thread here it looks like the bug is "fixed" but the build system is broken so the fix can't be released?  Is there any hope that this or future fixes will actually be released at some point?

[2021-05-03 13:03] johnchoi8 commented on #496
I had forgotten I even asked about it. I gave up on this plugin and switched to the Facebook Messenger app. It is not what I wanted, but at least it works and is updated.

[2021-05-03 16:12] jaymzh commented on #496
@BrenBarn - you can build it on master, I was able to build, see my comment above.

@dequis - we should get a release out though when you get time there's a ton of fixes waiting.

[2021-05-03 16:20] akhepcat commented on #496
my current steps:

    cd ${PDGBUILD}
    ./autogen.sh
    ./configure
    make -j4
    make install

this *seems*  to work just fine, however I do get a lot of warnings about deprecated pre-processor symbols and deprecated parameter declarations.

[2021-05-03 18:36] BrenBarn commented on #496
Thanks, but I'm not asking about building it myself, I'm asking if a built version is going to be actually released so people don't have to build it themselves.

[2021-05-05 05:52] b2cbd commented on #498
I've updated the **dll** using @ChristianGalla build. Still, it logs out every few minutes!

[2021-05-06 21:50] flowomo commented on #514
Same issue. Any progress getting this fixed? On rare occasions, it holds the connection with FB, but otherwise it disconnects and then reconnects a short while later.

[2021-05-08 18:58] BrenBarn commented on #514
Right now Pidgin with Facebook is essentially unusable because of this.  It disconnects on every message.

[2021-05-09 06:38] ae-bogdan commented on #514
Same here. Strange thing is that with some contacts it works fine, however with others I get disconnected on every message.

[2021-05-13 17:17] ychromosome commented on #514
Can you try to change the "Buddy list sync interval" from 5 Seconds to 30 Seconds?

[2021-05-13 17:21] raywhiteside commented on #514
I was having this issue on Arch, then I installed [pidgin-gnutls](https://aur.archlinux.org/packages/pidgin-gnutls/) and that seems to have fixed it. Haven't had any trouble for a few days now.

(Unfortunately I was mucking about with a few things on my system at the time as well so it's not a highly controlled experiment, but worth a shot.)

[2021-05-14 20:40] gmartsenkov commented on #474
@grimmy i'm willing to try it

[2021-05-15 03:37] grimmy commented on #474
@gmartsenkov The fact that it went away without code changes show it's just a facebook issue.  Well at least it was.

[2021-05-15 19:35] ae-bogdan commented on #514
Hey guys. So what better to do on a Saturday than work my ass off and compile the plugin myself based on the latest commits.

This is for windows. If you guys want the one for Linux I could perhaps upload that one as well.

https://github.com/ae-bogdan/libfacebook.dll/raw/master/libfacebook.dll

[2021-05-15 22:23] flowomo commented on #514
I tried ae-bogdan's .dll swap for Windows and it worked, though I haven't given it much time yet. Hope it sticks. Thanks!

[2021-05-16 08:12] Mavoy commented on #514
It works for me as well, though I've only started using and haven't really messaged with anyone yet. Thanks Bogdan! Will let know if it happens again.

[2021-05-16 08:48] ae-bogdan commented on #512
Hey guys, if you were still looking for releases with the latest code:

https://github.com/ae-bogdan/libfacebook_pidgin

[2021-05-16 13:08] greatquux commented on #514
Even with the latest code (and I compiled it on linux months ago) I still get this error a few times per day.

[2021-05-16 14:28] b2cbd commented on #514
@ae-bogdan Tested for an hour. It solved disconnection for me. Thanks!

[2021-05-16 18:26] yleyvag opened #515 "Facebook blocking account"
Facebook blocks my account everytime I try to connect, it was working some weeks ago but now isn't. I have been trying over and over and my account has been blocked more than 10 times.
![image](https://user-images.githubusercontent.com/17904060/118408220-9b0fa780-b652-11eb-8f15-22581149947b.png)

[2021-05-17 09:58] jkufner commented on #515
I have exactly the same problem.

[2021-05-17 16:05] MikeMilligan commented on #514
Hello. Is this not supposed to work on Windows 7? I know it's an old system, but it's the one I have on this laptop and my Pidgin doesn't recognize the new dll as a plugin.

Thank you.

[2021-05-17 20:02] ae-bogdan commented on #514
I booted up a win 7 machine and tried compiling it there. Check out if it works.

https://github.com/ae-bogdan/libfacebook_pidgin/blob/master/libfacebook_win7.dll

[2021-05-17 23:18] TheBense commented on #514
This seems to be working! Thank you!

[2021-05-18 08:47] ae-bogdan commented on #489
Hey guys. I know it's an old thread but I recently learned how to compile the plugin for windows and I created a build with the fix suggested by @Malvineous

https://github.com/ae-bogdan/libfacebook_pidgin/blob/master/libfacebook_timeout_fix_%23489.dll

In case anyone still needs it.

[2021-05-18 10:44] dequis opened #516 "Revamp repo structure and build system"
The whole "check out from mercurial and patch it for libpurple 2.x" thing that this repo is doing is confusing and discourages contributions.

A while ago I hired an intern to help here, and there is a branch called "libpurple-integration" (i didn't pick the name) with steps towards that which merges the relevant hg history of the upstream plugin into this repo.

Sadly it has reached the point whe

[2021-05-18 10:45] dequis opened #517 "Switch to github actions"
A few months ago I hired an intern to move to github actions. That work is probably finished in the "gh-actions-finished" branch of this repo, and should be reviewed and merged (squashed, likely).

Sadly, I don't really have time for this, so it's been waiting there for months.

Goals:

- Don't use travis
- Have something that kinda works for building packages on OBS (commits to master trigger bui

[2021-05-18 10:49] dequis commented on #517
Oh right, PR #509 exists. This ticket is basically "review that PR" really.

[2021-05-18 11:23] dequis opened #518 "Looking for new maintainer"
Hey there! It's about time I accept that I am not going to give a fuck about this project anymore. I'm generally burnt out on open source and have zero motivation for facebook related plugins.

Not to sound too much like a job ad for an unpaid position but, what I would expect from a maintainer:

- Having nonzero free time and nonzero interest
- Actively using either purple-facebook or bitlbee-fac

[2021-05-18 14:03] 0bhat commented on #518
I @dequis  I think I can take this forward, I don't have worked on libpurple before per se but I have fair knowledge of Glib and GTK+, I think getting to know libpurple API won't be an issue for me.

[2021-05-21 17:59] BrenBarn commented on #514
The new DLL seems to partially work but not completely.  I still sometimes get the `taNewMessage` error and a disconnection.  It seems not to happen as much as before but it still happens.

[2021-05-22 02:28] lmfardin commented on #514
How do I use the new DLL for Windows 7? Do I just place it inside the Pidgin plugins folder?
    Em sexta-feira, 21 de maio de 2021 14:59:55 GMT-3, BrenBarn ***@***.***> escreveu:

The new DLL seems to partially work but not completely. I still sometimes get the taNewMessage error and a disconnection. It seems not to happen as much as before but it still happens.

—
You are receiving this because

[2021-05-23 12:59] dequis commented on #518
@0bhat hmm, maybe start by throwing some PRs or reviewing some stuff?

[2021-05-23 13:53] 0bhat commented on #518
Can we just by-pass the `patches`, and turn is repo into a normal git repo where all the code is contained in the git repo itself?

[2021-05-23 15:41] 0bhat commented on #518
Is retaining author meta data important? Without that it will be much easier to shift this to some other build system, I'm planning to migrate it to cmake.

[2021-05-26 13:42] maraakate commented on #513
I'm getting this issue too.  Started happening to me a few days ago.

[2021-05-26 13:46] maraakate commented on #513
If you'd like, I can send a redacted debug window log from Pidgin, or run debug symbol builds, etc.  Whatever you need.

[2021-05-27 16:10] ThomasLeigh commented on #513
I experience the same issue. (Windows 7 32-bit).

[2021-05-28 19:57] fishstik commented on #513
Also getting this on Win 10 64-bit

[2021-05-30 02:19] Charcoal4756 commented on #513
Same Here ! What the Hell ? Trying to use Pidgin ? Come On people ! Help us out ! Please !

[2021-06-05 14:42] Zombie-Ryushu opened #519 "The action attempted has been deemed abusive or is otherwise disallowed"
The action attempted has been deemed abusive or is otherwise disallowed. This issue has come back.

[2021-06-07 06:59] mitsest commented on #498
Will this be fixed at some point? Stopped using pidgin when this issue surfaced

[2021-06-07 07:16] targetbsp commented on #498
I ended up moving to Miranda.  It takes a lot of configuring.  But it works!

[2021-06-07 07:20] mitsest commented on #498
no linux support :(

[2021-06-07 12:52] greatquux commented on #498
i don't use miranda, but i did see they have a page in their wiki about using it under Linux with WINE:
https://wiki.miranda-ng.org/index.php?title=Miranda_under_Wine
I rely too much on the gnome extension https://github.com/muffinmad/pidgin-im-gnome-shell-extension to use miranda, but perhaps you will have luck with those instructions.

[2021-06-07 21:19] cfdourado commented on #474
I have been facing the same problem since April 4.
I have just rebuilt the src.rpm on Fedora 34, but to no avail, still the same error.
It seems that the error is now permanent, right?

[2021-06-08 00:31] tomsaul commented on #519
See issue 486 for a possible work around!  It worked for me.

[2021-06-16 16:14] jostwald commented on #496
Any chance one of you folks who's successfully built it could post the .dll somewhere, please?

I don't have make set up on my machine and I'd rather not do it just for this.

[2021-06-16 17:20] akhepcat commented on #496
You'll probably have a better chance at getting that fulfilled if you provide some OS and bitting information:  Win32,   Linux x86_64,    Armel,  etc...

[2021-06-16 18:02] jostwald commented on #496
Very good point, apologies.

I'm on a 64 bit windows 10 machine
thanks

[2021-06-16 18:16] akhepcat commented on #496
Sorry that i can't help - i'm linux only.

[2021-06-17 00:32] alexolog commented on #496
A [DLL](https://en.wikipedia.org/wiki/Dynamic-link_library) is a Windows term, and Pidgin on Windows is 32-bit (even on 64-bit Windows) so it's pretty much unambiguous in this context :)

[2021-06-17 00:37] akhepcat commented on #496
@alexolog   I know what a DLL is.       I also know what assumptions are, and  "dll"  is used transparently across os's  (nobody says "send me that .so  file" - they say, "send me the library" or "the dll"  because it's more well known)

enforcing clarity is not a bad thing to keep people in the habit of doing.

[2021-06-17 02:06] alexolog commented on #496
Pre-built DLLs for this plugin are available from: https://github.com/ae-bogdan/libfacebook_pidgin

[2021-06-17 02:20] mvandemar commented on #518
@0bhat Is your fork now the official one, or are you still working on it? If it's in release mode, should the main package readme be updated to indicate that?

[2021-06-17 05:04] 0bhat commented on #518
No it's not yet. I'm still working on this, this is still the official repo.

[2021-06-17 13:48] jostwald commented on #496
Thank you!

On Wed, Jun 16, 2021 at 10:07 PM Alex ***@***.***> wrote:

[2021-06-18 07:33] MarcKete opened #524 "ERROR_QUEUE_OVERFLOW"
Hi there,

When logging on to my facebook account (I follwedall online instructions), I receive an error: ERROR_QUEUE_OVERFLOW
Any idea what may cause this?

thank you
MKE

[2021-06-18 07:46] MarcKete commented on #524
according to the debug log, I get following info: (I removed username by xxxx.xxxx)

(09:44:13) certificate: Successfully verified certificate for graph.facebook.com
(09:44:13) http: Request 08609B20 performed successfully.
(09:44:13) connection: Connection error on 0667A2B0 (reason: 0 description: ERROR_QUEUE_OVERFLOW)
(09:44:13) account: Disconnecting account xxxx.xxxx (01F8A110)
(09:44:13) conn

[2021-06-18 21:19] JBHoren commented on #485
This same behavior started on my Pidgin installation: graph.facebook.com, mqtt.facebook.com
It happens at irregular intervals; sometimes several certificates at once, other times only one.

Platform: Raspberry Pi 4 (8GB)
OS: Raspberry Pi OS Beta (aarch64)
Pidgin: 2.14.1 (libpurple 2.14.1)
Purple Facebook: 0.9.6

[2021-06-19 18:18] MarcKete commented on #524
anyone?

[2021-06-29 18:33] elofu17 commented on #524
Same problem here.
I installed a brand new Pidgin with the latest versions of both dll-files for Facebook on a brand new Windows 10 machine.
I add the Facebook account but get "ERROR_QUEUE_OVERFLOW" when it tries to connect.

[2021-07-01 09:11] e1000sav commented on #524
Hi,
I have the same problem. It's working on linux....

[2021-07-05 22:18] elofu17 commented on #524
Workaround while we wait for a new release:
@e1000sav , if you dare installing a .dll from another user, the compiled one in issue #512 seem to work fine when I install it in a Win10 Pro in a test-VM.

[2021-07-09 18:21] zyphlar commented on #485
FYI this is also an issue with `purple-hangouts` and its up-and-coming replacement `purple-googlechat` it may have a similar root cause and this thread has some ideas as to what that is (the servers sending partial certificate chains?)

https://github.com/EionRobb/purple-hangouts/issues/236

[2021-07-21 09:32] rhesa commented on #524
I _just_ installed pidgin and this plugin, and ran into the same issue (on ubuntu). The fix for https://github.com/dequis/purple-facebook/issues/498 (bump fb_orca_agent version string) works for me!

[2021-07-21 10:44] e1000sav commented on #512
Thank you very much. It's working for me :)

[2021-07-21 10:44] e1000sav commented on #524
THANK YOU !!!!
It's working good :)

[2021-09-08 22:22] zyphlar commented on #485
AFAIK even with various fixes in EionRobb/purple-googlechat (maybe @EionRobb or @dequis can comment) the core requirement is that clients cache multiple certificates that they receive, because only some of the certificate / chain may be received at any given time from any given server, and the entire various parts of the chain are needed to validate them. This wasn't a problem when chat providers

[2021-09-22 10:03] ZaxonXP commented on #485
What would be nice to have the option "always accept" in this pop-up, so we could not see it anymore for the same certificate.

[2021-09-24 13:12] lproven commented on #475
I am having the same issue on openSUSE Leap 15.3. The plugin is installed, but it's not showing in Pidgin's list.

[2021-09-24 13:24] vitalyster commented on #475
@lproven run `pidgin -d` and check the output: it will log plugin loads and errors, maybe some purple-facebook dependencies are missing

[2021-09-24 16:22] Botspot commented on #475
<details><summary>Click to view the output</summary>

[code]
</details>

[2021-09-24 16:41] vitalyster commented on #475
`/usr/lib/purple-2/libfacebook.so is not loadable: undefined symbol: json_node_get_array` means you need to install json-glib library

[2021-09-24 16:42] Botspot commented on #475
[code]

[2021-09-24 16:43] vitalyster commented on #475
try `libjson-glib-1.0-0` package name

[2021-09-24 16:47] Botspot commented on #475
APT says that package is already installed.

[2021-09-24 16:53] Botspot commented on #475
I've gone ahead and installed all packages matching the `*json-glib*` pattern: json-glib-tools libjson-glib-1.0-0 libjson-glib-1.0-common libjson-glib-dev libjson-glib-doc

No change in pidgin's output.

[2021-09-24 16:56] alexolog commented on #475
Can you check where it is installed?  Maybe Pidgin cannot find it.

[2021-09-24 16:56] vitalyster commented on #475
Please show the output of `ldd /usr/lib/purple-2/libfacebook.so`

[2021-09-24 17:00] Botspot commented on #475
According to Synaptic, it appears to have installed these files:
- /usr/lib/arm-linux-gnueabihf/libjson-glib-1.0.so.0
- /usr/lib/arm-linux-gnueabihf/libjson-glib-1.0.so.0.400.4

Sure.
[code]

[2021-09-29 17:38] lproven commented on #475
Wow! 26MB of log file within 2 minutes.

I did this, and looked for the string "facebook" -- and lo, it is loading, and now it is available in my list of protocols. I am running a rolling-release distro (openSUSE Tumbleweed) and it looks like it started working since I posted.

Thank you for the reply. Now it seems to be OK. Sorry for the noise.

[2021-10-29 14:55] dreamlayers opened #525 "TLS failure because Facebook certificate was not trusted"
This morning in Ubuntu 21.10 purple-facebook failed to connect because the TLS certificate was not trusted. I saw that it was signed by "DigiCert SHA2 High Assurance Server", so I downloaded that certificate from https://www.digicert.com/kb/digicert-root-certificates.htm, used https://wiki.archlinux.org/title/User:Grawity/Adding_a_trusted_CA_certificate#System-wide_%E2%80%93_Debian,_Ubuntu_(update

[2021-11-03 09:46] brianjmurrell commented on #373
I still get this error with 0.9.6 which was released 13 Jan 2019 so it seems it should include this fix, as it's almost 2 years newer than the supposed fixed release of 20171004.

Can we please have this issue reopened?

[2021-11-03 09:49] brianjmurrell commented on #284
I'm seeing this with 0.9.6.

[2021-11-10 19:44] jaymzh opened #526 "app passwords gone?"
It looks like FB dropped app-passwords (or at least I can't find them in my settings anymore)... This may mean we have to support FB's full 2-factor flow properly. :/ I can no longer login via pidgin.

[2021-11-10 19:49] jaymzh commented on #518
@0xfe0 Just wanted to follow up and see how you're doing

[2021-11-12 10:47] tbjorheim commented on #526
Hi. I have the same issue. Get error "Invalid username or password (401)" when I try to connect. The app password page is also removed when I check Facebook using webbrowser. :(

A friend is still able to connect using this plugin, but he also doesn't have the app password page when checking Facebook using webbrowser.

I can't find any official information about Facebook has dropped support for ap

[2021-11-12 19:23] jackblk commented on #445
Very late to the party but if someone needs this, these parameters should work

[code]

[2021-11-12 20:33] jaymzh commented on #445
@jackblk given that FB just killed app passwords, this is very timely.

Where you able to use this to somehow get the pidgin plugin to work?

[2021-11-12 20:35] jaymzh commented on #526
The internal team just confirmed for me they killed App Passwords and that the help page still being there is a mistake.

There's work to make Platform 2-fac stuff work for this plugin here: https://github.com/dequis/purple-facebook/issues/445 - any help would be appreciated.

Note that this project is in search of a new maintainer (https://github.com/dequis/purple-facebook/issues/518)

[2021-11-12 20:41] jaymzh commented on #445
Also where are you getting `self.device_id` from, @jackblk ?

[2021-11-12 20:57] jaymzh commented on #445
OK, just shoving in a UUID seems to work. Combining @jackblk 's stuff with my previous script, this seems to work. Jam your email and a random UUID at the top

[code]

But doing as @dequis recommended and putting the resulting `access_token` into `token` into accounts.xml does not work for me, I still get a "Login approvals are on..." error.  Also 'stoken' keeps showing up. I put the token into bo

[2021-11-12 21:03] jackblk commented on #445
Well app password is dead so my app is dead too, so I try to find a way for 2fa. I currently don't use pidgin anymore so I'm not sure 😢. But the token & cookies are usable for my app.

[2021-11-13 01:57] john5788 commented on #526
I am seeing the same things. Without 2FA support, this plugin is dead to me.

I tried disabling 2FA on my account, but it immediately spits me back to re-enabling 2FA again. App passwords were a nice way to get around it, but they were silently removed.

[2021-11-13 10:23] dequis commented on #526
I guess I'd be up for applying some changes, given the stuff in that ticket.

[2021-11-13 13:17] grimmy commented on #526
Did they kill the researcher settings too? I can't seem to get the whitehat menu item to show up in messenger on android.

[2021-11-13 20:08] jaymzh commented on #526
@dequis - I'd be happy to donate to your favorite charity again, if that helps. :)

[2021-11-15 09:54] grimmy commented on #526
Eion was able to get me a capture from ios. Looks somewhat simple. I'll try to get to this as soon as I can.

[2021-11-15 09:56] grimmy commented on #518
Not sure whatever happened here, but the intent is for upstream (the pidgin repo) to split this out to a separate mercurial repository for pidgin3 and build it as a meson subproject. I have no timeline on that right now, but that is the eventual plan.

[2021-11-16 02:50] giabao06 commented on #445
I was able to use this script and add the token and it worked. This is what I added into accounts.xml in the settings section:
`<setting name='token' type='string'>(value of access_token)</setting>`

[2021-11-16 03:17] jaymzh commented on #445
Aha!! I was missing the type attribute. Thanks!! That works!

[2021-11-16 03:56] jaymzh commented on #445
Eh, I spoke to soon. It worked briefly. Then my account got locked. I unlocked it and now that gives me `invalid username or password`

[2021-11-16 03:57] jaymzh commented on #445
Oh scratch that. Had to update the password in pidgin (didn't realize it used that once it had a token).

[2021-11-16 03:58] giabao06 commented on #445
Yeah me too. But I was able to solve it this way:
1. Put the new password into pidgin
2. Close pidgin, open accounts.xml
3. Clear the stoken and token setting
4. Reauthenticate, get new token, put new token in accounts.xml again

[2021-11-16 11:20] boris-petrov commented on #526
I just got hit by this too... :( I read the [other issue](https://github.com/dequis/purple-facebook/issues/445) and I'm not sure I understand correctly - is there a way right now to make Pidgin work with FB's two-factor auth?

[2021-11-17 00:23] jaymzh commented on #526
@boris-petrov - yes, you can run the python script, get the token, jam it into accounts.xml and it'll work.

[2021-11-17 00:23] jaymzh commented on #526
@grimmy - any update? Did the python script from the other bug help?

[2021-11-17 01:36] grimmy commented on #526
I've kind of got this working, but there's some issues getting it implemented correctly and going to take me a bit of time to figure out.

[2021-11-19 13:16] brianjmurrell commented on #477
I am seeing this now also.

[2021-11-19 13:29] dequis commented on #477
App passwords don't exist anymore as of last week. I don't think that would be related anyway

[2021-11-19 13:52] liskin commented on #445
I had to replace this with `MACHINE_ID` and generate my own uuid into `MACHINE_ID`, but then it worked! Thanks a lot for the script.

[2021-11-19 14:27] brianjmurrell commented on #477
I didn't think it seemed related, but seemed worth a try.

So what do you think the problem is here?  How do we resolve it?

[2021-11-19 17:44] jaymzh commented on #445
Ooops, fixed. Thanks!

[2021-11-19 18:58] jaymzh commented on #445
I put some work into the script to make it a bit easier for people not familiar with python or dicts or other stuff. It's also now in py3. Here's a script, that when you run it, looks like this:

[code]

You need to edit the script to add your email and a UUID (which you can get by running `uuidgen`), but that's it. The script is here:

https://gist.github.com/jaymzh/3ed8817cf8c20222ca09ce33a544b6

[2021-11-19 19:48] akhepcat commented on #445
Question about this process that I didn't see an obvious answer to:

if one does:

`$ grep -A90 -i prpl-facebook accounts.xml | sed -n '/<\/account>/q;p' | grep setting | egrep 'id|token' `

you can see that there already exists some data that looks like it's trying to use in the script:

[code]

or at the very least, is returned by the python script above:

`{u'machine_id': u'${MID-base64}', u'ui

[2021-11-19 20:11] jaymzh commented on #445
So, the short answer is: as long as the token is set, it doesn't seem to matter much. And to be clear, this script is just a short-term stop gap until @grimmy get is PR up that implements this natively, otherwise I'd be trying to make it parse-and-edit the accounts.xml, but I didn't care that much for something that I hope dies in a week or two.

All that said, those are all good questions. I actu

[2021-11-20 00:17] grimmy commented on #445
Yeah, sorry I'm super busy the next few days and not sure when I'll be able to finish this, but I'm hoping I'll have it done next week.

[2021-11-21 14:19] brianjmurrell commented on #477
No ideas on this?  My pidgin facebook messenger account has been **disabled** for days due to this, so I cannot be hitting any actual API limits.

[2021-11-21 22:10] jaymzh commented on #477
@brianjmurrell the error messages are woefully misleading. Almost certainly now that they've killed app passwords, all app passwords have been expired and that's why you're hitting it. Use the script I wrote over in  #445

[2021-11-22 03:04] brianjmurrell commented on #477
I have never used app-passwords nor have I enabled 2FA as in most cases, where they send you an SMS, it's just a huge pain in the ass and nothing more than security theatre.

So if I have never used app-passwords nor enabled 2FA security theatre, does #445 have any relevance?

[2021-11-28 19:02] Azizb750 commented on #525
Hi, on Arch linux is solved installing the git version of purple-facebook (purple-facebook-git) instead of the stable one, since then I dont face any error about it, probably it has been fixed later, after the release of 0.9.6

[2021-11-29 16:49] billyjbryant commented on #7
Now that Facebook has deprecated App Passwords, what are the solutions that work to log in when using MFA?

[2021-11-29 22:10] Azizb750 commented on #445
actually you must use 'did' mentioned in the accounts.xml instead of an random uuid, this is how worked on me

[2021-12-04 07:19] giabao06 commented on #445
Tip: the `stoken` setting is actually the OAuth2 secret. Entering that in solved the problem of facebook straight up locking my account after using Pidgin

[2021-12-04 14:01] Azizb750 commented on #445
This is how I log in successfully (a more detailed version for those who are begginers with pidgin):
1. Setup the fb account from pidgin and add the account.
2. Open the accounts.xml and check for `'did'`'s value and copy it
3. Setup the python file, put your accounts.xml's `'did'`(which indeed is an `UUID`) to the `MACHINE_ID`, write your email and save it
4. Open the terminal and execute the pyt

[2021-12-07 21:01] akhepcat commented on #525
Still seeing it on 0.9.6-git_9ff9acf9fa14, though adding the  cert as by Op does appear to mitigate the issue

[2021-12-08 14:14] brianjmurrell opened #527 "Calls to this api have exceeded the rate limit. (613)"
I am using the latest, 0.9.6 release of this project but when I try to connect to Facebook Messenger with Pidgin I am getting:

[code]

But given the error above, this account sits in the _disconnected_ state pretty much permanently and has been for weeks now, so I cannot actually be calling the API too many times.

I can log into FB and use Messenger there with no problems.

[2021-12-14 16:36] brianjmurrell commented on #527
No ideas here?  I wonder why I can be the only person with this problem.

[2021-12-31 04:40] jonasstein commented on #518
I hope you will find a new maintainer soon. We advertised this call too, because otherwise we will have to drop the package from Gentoo https://bugs.gentoo.org/830331.

[2022-01-08 00:28] akhepcat commented on #445
Suddenly unable to use 2fa again, using the script above.
(or using my merged script that parses accounts.xml, grabs the correct data, and call the fb login page:  https://raw.githubusercontent.com/akhepcat/Miscellaneous/master/pidgin-fb-login-2fa.py  )

Don't have enough skills to burp this and figure out what's changed, only that it's not working anymore for me.

[2022-01-08 00:35] akhepcat commented on #526
Using the original, or my mostly-automated hack (https://raw.githubusercontent.com/akhepcat/Miscellaneous/master/pidgin-fb-login-2fa.py) of a script (to grab the necessary auth data)   i'm not able as of today to log in with 2FA anymore.

I'm able to retrieve the token correctly, but  shutting down pidgin, inserting the new token, and restarting just  causes the login process on FB to attempt reau

[2022-01-08 00:38] procule commented on #526
Same thing here :(

[2022-01-08 22:30] BlackLight commented on #445
@akhepcat it broke for me as well in the past 24h, but I have managed to get my bitlbee-facebook account back online by simply generating another token.

[2022-01-09 03:57] fangfufu commented on #526
My old app password stopped working too. :(

[2022-01-09 16:51] Nardol commented on #7
Make the account less secure by disabling 2FA... Or not connecting using Purple Facebook anymore.
I fount [this question on Superuser](https://superuser.com/questions/281134/pidgin-and-facebook-two-factor-authentication) but the proposed solution did not work for me.

[2022-01-11 01:56] fangfufu commented on #518
@EionRobb, I wonder if you are interested in this.

[2022-01-15 17:57] Penaz91 commented on #526
I had a similar issue where I couldn't log in using the script, remaking the account on pidgin fixed the issue. It seems it's working correctly (at least for me, currently)

[2022-01-17 20:56] akhepcat commented on #526
Tried to remake the account with no success:
1) delete account
2) restart pidgin
3) create new account
4) attempt login
5) quit pidgin
6) run script
7) paste data into accounts.xml
8) start pidgin

And i'm immediately prompted by my phone "a new device requiring 2FA..."   to reauthenticate.

[2022-01-20 11:12] vitalyster opened #528 "Packages for newer distros"
Can new distros be enabled in OBS? Like Debian 11 and Fedora 33-35. Also arm64 variants would be great too.

[2022-01-25 23:06] tonitch commented on #445
On my side, I keep getting 401 invalid username or password even tho I'm pretty sure I did everything right !

[2022-01-27 21:37] mvandemar opened #529 ""User must verify their account on www.facebook.com (405)""
This seems to be a new issue that just started today. Facebook logged me out and said I need to verify my account. I choose to have it send an email with a code, which I entered, which allowed me back in. I noticed that Pidgin was then disconnected. I told it to reconnect, got the above error, and had to re-verify to get back into Facebook on Chrome. Pidgin never reconnects, every attempt locks me

[2022-01-31 09:06] dequis commented on #529
#474

[2022-01-31 09:06] #529 closed

[2022-01-31 15:24] mvandemar commented on #474
I have been having this issue since last week, Centos 7, Pidgin 2.10.11-9.el7 (libpurple 2.10.11). It literally just started after working fine for years. Has any progress been made in moving towards a solution on this?

[2022-01-31 16:43] truenicoco commented on #474
@mvandemar At first it worked a few days for me before I needed to 'verify my account', then a few hours; now using purple-facebook instantly locks my account. I wouldn't be too optimistic on this issue, but on the bright side, it may help rely less on FB messenger (it worked for me! now nobody talks to me anymore, yay!).

[2022-01-31 16:49] mvandemar commented on #474
Since I am currently experiencing the issue I would be willing to test your potential fix.

[2022-02-01 12:00] cfdourado commented on #474
Well, this error just stopped occurring out of the blue; I did nothing on my side and it's been working just fine since last november. Now go and figure this.... :-|

[2022-02-07 18:50] dreamlayers commented on #476
Key was expired again. Installing key from https://build.opensuse.org/projects/home:jgeboski/public_key again fixed the problem.

[2022-03-01 06:47] truenicoco commented on #474
I gave my spectrum2/xmpp transport a new try these days and:

- I could login and send/receive a few messages
- After 3 days I started receiving these 405 errors again, but could unlock and still use the transport
- Now any login attempt triggers the 405 error and I cannot use it anymore.

I *may* have found out what triggers the facebook error. Examining the logs, it always seem to happen after s

[2022-03-06 10:06] Metalhead33 commented on #445
@Azizb750 's instructions with the script worked perfectly for me.

[2022-03-06 16:43] akorn commented on #445
It's possible to extract the relevant IDs from bitlbee's `nickname.xml` too; the script (either script) spits out a token, `account facebook token <......>`, and `account facebook on` works again.

This is a tremendous quality of life improvement. Thanks a lot!

[2022-03-08 00:04] akhepcat commented on #445
Ahhhh.    Yes, the scripts are working just fine.

I was being too quick, and dismissing the "Did you just attempt to sign in" pop-up,  which of course stops the SMS code send.   Oops.

Ignoring that pop-up and waiting for the SMS made the flow work just fine.  Can't believe i didn't try that sooner.

[2022-03-08 20:15] sbstratos79 commented on #526
I faced the same issue but after a couple of tries, I noticed that the accounts.xml file was being removed when I exit Pidgin. So I just made all the necessary changes to accounts.xml, copied the contents, reloaded Pidgin, reloaded accounts.xml and replaced its contents with the modified accounts.xml text.
This worked for me but I am still facing one issue.
Pidgin keeps logging in and out of fb ev

[2022-03-08 20:19] akhepcat commented on #526
@sbstratos79  - see my note over here:  it works if you ignore that pop-up!  (though i don't know why your accounts.xml would be deleted, that ... seems broken.  maybe it's being hidden, or moved somewhere else?  I'm on linux, though, and don't use it anywhere else)

https://github.com/dequis/purple-facebook/issues/445#issuecomment-1061266862

[2022-03-09 08:45] sbstratos79 commented on #526
I have already seen the comment. I didn't interact with the confirmation notification. But I didn't wait for an sms code either since I've disabled sms confirmation. I use Google authenticator and using that code worked for me. But as I said, i keep getting logged out.

[2022-03-24 19:30] tbjorheim commented on #445
Hi.

I have tried several times to get this to work again. It was working before, but suddenly stopped working for some time ago.

Tried to follow Azizb750's instructions, but still no luck. But I need to quit Pidgin before editing the accounts.xml file, if not it seems like the token gets overwritten by the blank/default one.

When I start Pidgin after entering the token, I always get "An unknown

[2022-03-26 09:41] Tatsujin commented on #445
I've been banging my head against this one all night. Was about to give up until I got it to work. For reference, Im using Debian Stretch and Bitlbee via Bitlbee's debian repository.

Got to the point where I rewrote the pidgin token generation script script for bitlbee (bitlbee-purple uses a different location for accounts.xml and apparently doesn't properly know how to write to it, it's a known

[2022-03-29 20:19] akhepcat commented on #445
Thanks, @Tatsujin  -  i've upated my script to include the utf-8  parsing as well.

https://raw.githubusercontent.com/akhepcat/Miscellaneous/master/pidgin-fb-login-2fa.py

[2022-03-30 00:22] wuseman commented on #498
Thanks alot, this solved the issue on my box. I allways have problems with the apt package for bitlbee-facebook but thats history now ;)

For new users its the same url different package: https://ftp.gwdg.de/pub/opensuse/repositories/home:/jgeboski/Debian_10/amd64/purple-facebook_20210215~e0d7732~22_amd64.deb

[2022-04-03 16:45] maccagnan opened #530 "Xorg crashes when messaging on Facebook"
For some time I got a strange issue on Pidgin when using Facebook. When I write a message in the Facebook window the screen freezes and Xorg crashes.

This is the last bit of xsession-errors:

The X11 connection broke (error 1). Did the X11 server die?conky:
X Error: Display 5629a52135a0

X connection to :0.0 broken (explicit kill or server shutdown).
X connection to :0.0 broken (explicit kill or

[2022-04-03 17:24] dequis commented on #530
Yeah uhhh no, not this plugin. Ask elsewhere.

[2022-04-03 17:24] #530 closed

[2022-04-06 17:25] jaymzh opened #531 "New parsing issue: unexpected identifier `taNewMessage`"
I'm getting frequent disconnects with:

[code]

[2022-04-15 12:36] greatquux commented on #531
yes I expect this is the same as #514 but it still happens to me throughout the day. I can get it to happen by sending myself a message for sure.

[2022-04-20 00:21] jaymzh commented on #531
yeah, this has gone back to normal amounts. I suspect a dupe of 514, combined with something going on at FB/Meta.

[2022-04-20 00:21] #531 closed

[2022-04-23 08:02] tbjorheim commented on #445
Thanks akhepcat for creating this script.

I tried it, but got the following error:

Traceback (most recent call last):
  File "./pidgin-fb-login-2fa.py", line 181, in <module>
    error_data = json.loads(response['error_data'].decode('utf-8'))
AttributeError: 'str' object has no attribute 'decode'

[2022-04-23 08:08] akhepcat commented on #445
Ah, try removing the  ".decode('utf-8')"   from  that line.

It worked here on my test, but maybe it's failing in some cases, and may not really be needed.

[2022-04-23 09:51] tbjorheim commented on #445
Hi and thanks for the quick reply.

Tried to remove the decode part, and then I get the token. But also the following error after entering the code:

FB Account DID not present in error_data: equal to accounts.xml did
Access token: ***
Traceback (most recent call last):
  File "./pidgin-fb-login-2fa.py", line 212, in <module>
    if ( DID != response['device_id'] ):
KeyError: 'device_id'

Tried to

[2022-05-18 03:24] antdude commented on #518
Still nothing?

[2022-05-19 01:49] antdude opened #532 "b-api.facebook.com certificate prompts in Pidgin."
Ever since I installed the plugin into my Pidgin 2.14.9 and logged into my Facebook account in my updated 64-bit W10 Pro., I kept getting this:

"Accept certificate for b-api.facebook.com?

The certificate for b-api.facebook.com could not be validated.

The certificate is not trusted because no certificate that can verify it is currently trusted."

It happens often. How can I make it allow it all

[2022-05-19 01:53] antdude commented on #514
I had this last night when I started using Facebook's plugin in Pidgin 2.14.9 in my updated 64-bit W10 Pro. PC. I don't know how I made it stop. I think I deleted my Facebook account and readded it?

[2022-06-09 01:02] TheOtherRealm commented on #532
I have been getting that for a long time. If I close pidgin and open it again, everything is fine for a while, then randomly it will pop back up and I need to repeat the close/open process again.  Sometimes if I just ignore the message, everything sorts itself out eventually, I think.  It is probably a communications issue between the authentication server and our client machine.

[2022-06-09 01:59] akhepcat commented on #526
Already adopted with one cleanup.  :-)   Thanks!

I've got some other ideas, but calling dbus from python is outside my wheelhouse.    For now.
Time to do some research, i guess!

[2022-06-09 02:11] jaymzh commented on #526
You might want pystemd - my former coworkers maintain it. There's also a straight dbus library.

[2022-06-09 03:40] akhepcat commented on #526
I *think* i've got the first pass of what I want it to do at *startup*  but i don't have enough skill to use the dbus interface to actually make the changes in the config file while things are running.

https://raw.githubusercontent.com/akhepcat/Miscellaneous/master/pidgin-fb-login-2fa-v2.py     is where i'm working on the next-gen version.

[2022-06-21 14:39] antdude commented on #532
I haven't seen it for a while so far.

[2022-06-21 16:04] antdude opened #533 "Did your Facebook account get locked due to Pidgin's third party's Messenger log in?"
I was forced to change my password, tell its Android connection was legit, and accept certificates. Annoying. :(

Thank you for reading and hopefully answering soon. :)

[2022-06-21 16:20] antdude commented on #532
Wow, I'm getting a lot. I wonder if it is related to my recent https://github.com/dequis/purple-facebook/issues/533.

[2022-06-22 08:57] dazzzl commented on #533
Some for me. And I was immediately locked again, after trying to log in with libpurple and the new password. Any solution or work around?

[2022-06-23 20:28] Johayan commented on #533
+1 - It's not instantaneous for my account. Sometimes, it is and other times it will take hours or even a few days.

[2022-07-04 17:50] citrachat commented on #524
Same problem now in 2022... Pidgin 2.14.10 on Win10 Pro doesn't recognize new compiled ae-bogdan DLL, so i can't create facebook account on pidgin.... any point?? Maybe i'm working bad with ae-bogdan DLL, replacing libfacebook.dll on plugins folder?? Maybe this is not appropiate solution on Win10?

Any help would be appreciated...

[2022-07-21 00:05] jaymzh commented on #445
Try the latest version, that should all be fixed now.

[2022-07-22 05:22] usvi commented on #518
Does there need to be the same maintainer for both purple-facebook and bitlbee-facebook? Or is it just a wish for synergy convenience?

[2022-07-22 08:42] jaymzh commented on #518
@usvi - @dequis can give a more complete answer, but in the meantime...

My understanding is that no, they don't have to be the same, however, currently the codebases and build systems are separate (this code checks out that code and then patches it, etc.) which makes maintainership of either/both very difficult and one of the hopes was to combine them into a single code base, so someone willing t

[2022-08-04 17:23] digfish commented on #445
Hi
I tried the script by @akhepcat on https://raw.githubusercontent.com/akhepcat/Miscellaneous/master/pidgin-fb-login-2fa.py, pasted the xml code in accounts.xml and I get this error:
![OuxmPbFU6n](https://user-images.githubusercontent.com/717142/182912632-c11bfd0e-8bae-45c0-b720-c3af3c37a962.png)
When I try to connect again, the error stays the same :( .

[2022-08-06 20:59] jaymzh commented on #445
That happens, I think, when it's trying to sync your history and it's too big.

Go to edit account, advanced, uncheck "show unread messages". The connect, it should work. Once that's done, you can re-check that box and it should work.

[2022-08-06 22:02] digfish commented on #445
Hi. Thanks for the reply
Followed your instructions. I unchecked all the boxes in the "Advanced" tab and reconnect. The error stays the same :( .

![image](https://user-images.githubusercontent.com/717142/183267401-abcac9c9-cb5f-4a5a-bdfe-da0bd928ea47.png)

[2022-08-10 18:33] bouboulov commented on #524
Just download https://codeload.github.com/ae-bogdan/libfacebook_pidgin/zip/refs/heads/master

and replace the libfacebook.so file in /usr/lib64/purple-2/

It will work.

[2022-08-13 13:25] hethhhhh commented on #533
I got "Temporarily locked" several times
and now my account is disabled :( I'm waiting for an appeal and a review, but I can't access anything

[2022-08-25 17:57] Azizul7m opened #534 "About 2 step varification code"
Is there any way I can use it to log in with my verification code?

[2022-08-31 01:39] dchmelik commented on #534
They're forcing it on some people by September 15th, so it's critical.

[2022-09-09 19:30] jaymzh opened #535 "Another taNewMessage parse error"
Here's the relevant debug log:
[code]

I replaced the two FBIDs with XXXX and YYYY, but other than that the message is in-tact.

[2022-09-09 19:34] jaymzh commented on #518
@1ay1 - just curious if you're still interested in taking on a maintainership role. I have some mediocre C skills and might be able to contribute, but at the moment the weird state of the dual repos mean I find it nearly impossible to find the code I'm looking for. Since you were looking at fixing that, I wanted to follow up.

[2022-09-09 19:50] jaymzh commented on #535
Hmmm I rebuilt from source while trying to fix this, and can no longer reproduce. Perhaps I just had an old build...

[2022-09-09 19:50] #535 closed

[2022-10-03 11:53] athyla commented on #311
For anyone looking for a fix for this issue, the HEX edit solution from this page worked for me.

https://www.reddit.com/r/pidgin/comments/l14lxt/facebook_messenger_error_queue_underflow/

I'm on openSUSE Tumbleweed, libpurple-plugin-facebook version 0.9.6-1.19.

As mentioned on the linked discussion, I edited libfacebook.so with a hex editor (okteta) and searched for FBAV/192.0.0.31.101 and chang

[2022-10-10 16:52] akhepcat commented on #533
Yep.  It's now happened a second time to me.

effing facebook

[2022-10-13 08:01] Sawiq opened #536 "JSON Data should be UTF-8 encoded"
LinuxMint 19.3
Pidgin 2.12.0
Facebook plugin 20210215\~e0d7732\~22

Apart from frequent SSL errors I have got this one. **JSON data must be UTF-8 encoded**

[2022-10-19 14:06] utopiabound commented on #485
I manually populated the TLS cache for second level certificate:

Workaround:
[code]

`http://cacerts.digicert.com/DigiCertSHA2HighAssuranceServerCA.crt` is listed as the second level cert in `graph.facebook.com`.
You can check this by doing `openssl x509 -text -noout -in graph.facebook.com`
`DigiCert%20SHA2%20High%20Assurance%20Server%20CA` is Subject "CN" from that certificate url encoded (this

[2022-10-19 16:04] solbu commented on #485
I am doing exactly this, and it still cannot find the issuing CA

[2022-10-19 16:19] solbu commented on #485
I even added it to the system wide trust anchor, as described in the link below, it still does not work. :-\
https://docs.fedoraproject.org/en-US/quick-docs/using-shared-system-certificates/

[2022-10-19 17:28] kotarou3 commented on #533
Can also confirm my account was locked twice, probably due to this plugin

[2022-10-19 17:32] antdude commented on #533
I haven't used this plugin for months. No more lock outs. I will just use the web version. :(

[2022-10-22 18:41] bish0polis commented on #518
When you DO pass this project over, consider making it under a new, independent account.

[2022-11-14 00:33] Zombie-Ryushu commented on #533
I have the same issue.

[2022-11-14 00:56] antdude commented on #534
With this, do they still lock out users when using third party clients?

[2022-11-17 09:23] 64kramsystem opened #537 "jgeboski's repository is gone"
I've found out today that jgeboski's repository is gone; I think it's been recently removed, because it's the first time that I notice an error in the apt update.

You can see it here: http://download.opensuse.org/repositories/home:/jgeboski.

~The plugin still can be built from source, but the wiki should be updated. There's also a potential problem of the plugin configurations conflicting: I've

[2022-11-17 09:34] 64kramsystem opened #538 "ERROR_QUEUE_OVERFLOW on connection, on latest release (0.9.6)"
I've removed the plugin deb, which was installed via jgeboski's repository, and reinstalled it via source, however, I started getting the `ERROR_QUEUE_OVERFLOW` error.

I originally thought that this was some sort of mixup, however, after patching the source as instructed [on this other issue](https://github.com/dequis/purple-facebook/issues/311#issuecomment-1265330394) and recompiling (note that

[2022-11-18 14:15] Leatherface75 commented on #534
I don't understand what to do here. Where do i find that Facebook Protect option?

[2022-11-20 15:49] Kaligula0 commented on #534
Did anybody manage to log in with SMS code? I don't know where to enter that.
The wiki says about "per app passwords" but I can't see such option in my Settings.